*
{
    background-color: #2d4ef2; 
}

nav
{
    display: flex;
    flex-direction: row;

}

#content
{
    display: flex;
    flex-direction: column;

}

h1{
    color:rgb(30, 225, 131);
}

p,li
{
    font-size: 2rem;
    color: #b9bfdc;
}

button
{
    font-size: 2rem;
    padding: 1rem;
    background-color: rgb(226, 52, 18);
    border-radius: 50%;
    border: 5px solid #04AA6D; /* Green */
    margin:1rem;
    transition-duration: 0.4s;

}

.button:hover {
    background-color: #617b72; /* Green */
    color: white;
  }

img 
{
    max-width:100%;
    max-height:100%;
}